@model IEnumerable<Eticaret.Core.Entities.AppUser>

@{
    ViewData["Title"] = "Kullanıcı Listesi";
}

<h5>Kullancılar.</h5>

<p>
    <a asp-action="Create" class="btn btn-outline-primary rounded-pill">
        <i class="fa-solid fa-plus fa-flip"></i>  Yeni Ekle </a>
</p>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.İsim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soyisim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th> *@
           @*  <th>
                @Html.DisplayNameFor(model => model.Sifre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciAdi)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Aktif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OlusturmaTarihi)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.KullaniciGuid)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.İsim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soyisim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sifre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciAdi)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Aktif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OlusturmaTarihi)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.KullaniciGuid)
            </td> *@
            <td>
                    <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@item.Id"> <i class="fa-solid fa-user-pen fa-fade" style="color: #ffc800;"></i> </a> |
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info fa-fade fa-lg" style="color: #ff0000;"></i> </a> |
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-ban fa-fade fa-lg" style="color: #000000;"></i> </a>
            </td>
        </tr>
}
    </tbody>
</table>
