@model Eticaret.Core.Entities.Kategori

@{
    ViewData["Title"] = "Kategori Bilgiler";
}



<div>
  
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategoriİsim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategoriİsim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resim)
        </dt>
        <dd class = "col-sm-10">
           <img src="/Img/Kategoriler/@Model.Resim" height="75" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aktif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aktif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UstMenu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UstMenu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnaMenuId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnaMenuId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiralamaNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiralamaNo)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id"> Düzenleye Dön</a> |
    <a asp-action="Index">Listeye Dön</a>
</div>
